#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data=[4,8,15,16,23]
ser=pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
list=[1,2,3,4,5,6,7,8,9,10]
var=pd.Series(list)
print(var)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
df={
     "Name" : ['Alice', 'Bob', 'Claire'],
     "Age" : [25, 30, 27],
     "Gender" : ['Female','Male', 'Female']
   }

dfs=pd.DataFrame(df)
print(dfs)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

 #### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
 
 DataFrame: A two-dimensional tabular data structure in Pandas, like a spreadsheet, with rows and columns.

 Series: A one-dimensional labeled array, essentially a single column of a DataFrame.

In [5]:
sr=[1,2,3,4,5,6]
seri=pd.Series(sr)

print(type(seri))

<class 'pandas.core.series.Series'>

In [8]:
datas={ "rollno": seri}
dframe=pd.DataFrame(datas)
print(dframe)
print(type(dframe))

   rollno
0       1
1       2
2       3
3       4
4       5
5       6
<class 'pandas.core.frame.DataFrame'>

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

.head(), .isnull(), .info()

In [9]:
dframe.head()

   rollno
0       1
1       2
2       3
3       4
4       5

In [11]:
dframe.isnull()

   rollno
0   False
1   False
2   False
3   False
4   False
5   False

In [12]:
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rollno  6 non-null      int64
dtypes: int64(1)
memory usage: 176.0 bytes

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: Series and DataFrame

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [14]:
rollno=[57,68,39]
marks=[100,99,98]
rollno_series=pd.Series(rollno)
marks_seris=pd.Series(marks)

dFrame={ "rollno": rollno,
          "marks": marks
       }
print(dFrame)

AttributeError: module 'pandas' has no attribute 'Seris'